$highlight: rgb(0, 188, 0);
$highlightHover: rgba(0, 188, 0, 0.77);
$highlightshadow: rgba(0, 188, 0, 0.28);
$darkGreen: #213a2b;
$clocksBackground: #000;
$clocksBorder: rgb(93, 59, 8);
$smallDigitOffset: 4;

@mixin active-item() {
	background-color: $highlight;
	box-shadow: 0 0 3px 4px $highlightshadow;
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	&__settings {
		display: flex;
	}
}

.settings {
	border: 1px solid $clocksBorder;
	padding: 20px;
}

.mode {
	padding: 0;
	&__item {
		list-style: none;
		display: inline-block;
		margin-right: 10px;
	}
}

.mode-item {
	border: 1px solid $highlight;
	border-radius: 14px;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	cursor: pointer;

	&:hover {
		background-color: $highlightHover;
	}

	&.selected {
		background-color: $highlight;
	}
}

.clocks {
	width: 420px;
	padding: 20px 15px;
	background-color: $clocksBackground;
	position: relative;
	border: 8px solid $clocksBorder;

	&__part {
		display: inline-block;
	}
	&__point {
		display: inline-block;
	}
	&__name {
		position: absolute;
		right: 25px;
		bottom: -17px;
	}
}

.part {
	&__digit {
		display: inline-block;
	}
}

.point {
	display: inline-block;
	width: 10px;
	height: 20px;
	padding: 2px 4px;
	margin: 1px 10px 1px 1px;
	transform: skew(-5deg);
}

.point-sign {
	position: relative;
	float: left;
	margin: 0;
	width: 10px;
	height: 20px;
	border-radius: 2px;
	animation: blink 1s infinite;
}
@keyframes blink {
	0% {
		background-color: $darkGreen;
	}
	30% {
		background-color: $darkGreen;
	}
	31% {
		@include active-item();
	}
	100% {
		@include active-item();
	}
}

.digit {
	display: inline-block;
	width: 85px;
	height: 132px;
	padding: 2px 5px;
	margin: 1px;
	transform: skew(-5deg);
	background: $clocksBackground;

	&__container {
		width: 100%;
		height: 100%;
		float: left;
	}
	&__dot {
		float: left;
	}
}

.dot {
	margin: 1px;
	width: 10px;
	height: 10px;
	background-color: $darkGreen;
	border-radius: 50%;
}

//Numbers
.digit-0 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(7n + 1),
	.dot:nth-child(7n + 2),
	.dot:nth-child(7n + 6),
	.dot:nth-child(7n + 7),
	.dot:nth-child(n + 64):nth-child(-n + 78) {
		@include active-item();
	}
}
.digit-1 {
	.dot:nth-child(7n),
	.dot:nth-child(7n + 6) {
		@include active-item();
	}
}
.digit-2 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(n + 20):nth-child(-n + 21),
	.dot:nth-child(n + 27):nth-child(-n + 44),
	.dot:nth-child(n + 50):nth-child(-n + 51),
	.dot:nth-child(n + 57):nth-child(-n + 58),
	.dot:nth-child(n + 64):nth-child(-n + 77) {
		@include active-item();
	}
}
.digit-3 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(n + 29):nth-child(-n + 42),
	.dot:nth-child(n + 64):nth-child(-n + 77),
	.dot:nth-child(7n),
	.dot:nth-child(7n + 6) {
		@include active-item();
	}
}
.digit-4 {
	.dot:nth-child(n + 1):nth-child(-n + 2),
	.dot:nth-child(n + 8):nth-child(-n + 9),
	.dot:nth-child(n + 15):nth-child(-n + 16),
	.dot:nth-child(n + 22):nth-child(-n + 23),
	.dot:nth-child(n + 29):nth-child(-n + 42),
	.dot:nth-child(7n),
	.dot:nth-child(7n + 6) {
		@include active-item();
	}
}
.digit-5 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(n + 15):nth-child(-n + 16),
	.dot:nth-child(n + 22):nth-child(-n + 23),
	.dot:nth-child(n + 29):nth-child(-n + 42),
	.dot:nth-child(n + 48):nth-child(-n + 49),
	.dot:nth-child(n + 55):nth-child(-n + 56),
	.dot:nth-child(n + 62):nth-child(-n + 63),
	.dot:nth-child(n + 64):nth-child(-n + 77) {
		@include active-item();
	}
}
.digit-6 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(7n + 1),
	.dot:nth-child(7n + 2),
	.dot:nth-child(n + 29):nth-child(-n + 42),
	.dot:nth-child(n + 48):nth-child(-n + 49),
	.dot:nth-child(n + 55):nth-child(-n + 56),
	.dot:nth-child(n + 62):nth-child(-n + 63),
	.dot:nth-child(n + 64):nth-child(-n + 77) {
		@include active-item();
	}
}
.digit-7 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(7n),
	.dot:nth-child(7n + 6) {
		@include active-item();
	}
}
.digit-8 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(7n + 1),
	.dot:nth-child(7n + 2),
	.dot:nth-child(7n + 6),
	.dot:nth-child(7n),
	.dot:nth-child(n + 29):nth-child(-n + 42),
	.dot:nth-child(n + 64):nth-child(-n + 77) {
		@include active-item();
	}
}
.digit-9 {
	.dot:nth-child(-n + 14),
	.dot:nth-child(7n),
	.dot:nth-child(7n + 6),
	.dot:nth-child(n + 15):nth-child(-n + 16),
	.dot:nth-child(n + 22):nth-child(-n + 23),
	.dot:nth-child(n + 29):nth-child(-n + 42),
	.dot:nth-child(n + 64):nth-child(-n + 77) {
		@include active-item();
	}
}

// Small digits
@mixin small-digit-0($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{50 + $offset}):nth-child(-n + #{50 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{57 + $offset}),
	.dot:nth-child(n + #{59 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{64 + $offset}):nth-child(-n + #{64 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{71 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-0 {
	@include small-digit-0(0);
}
.right-small-digit-0 {
	@include small-digit-0($smallDigitOffset);
}
@mixin small-digit-1($offset) {
	.dot:nth-child(n + #{45 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{59 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{73 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-1 {
	@include small-digit-1(0);
}
.right-small-digit-1 {
	@include small-digit-1($smallDigitOffset);
}
@mixin small-digit-2($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{64 + $offset}):nth-child(-n + #{64 + $offset}),
	.dot:nth-child(n + #{71 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-2 {
	@include small-digit-2(0);
}
.right-small-digit-2 {
	@include small-digit-2($smallDigitOffset);
}
@mixin small-digit-3($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{71 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-3 {
	@include small-digit-3(0);
}
.right-small-digit-3 {
	@include small-digit-3($smallDigitOffset);
}
@mixin small-digit-4($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{43 + $offset}),
	.dot:nth-child(n + #{45 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{50 + $offset}):nth-child(-n + #{50 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{73 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-4 {
	@include small-digit-4(0);
}
.right-small-digit-4 {
	@include small-digit-4($smallDigitOffset);
}
@mixin small-digit-5($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{50 + $offset}):nth-child(-n + #{50 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{71 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-5 {
	@include small-digit-5(0);
}
.right-small-digit-5 {
	@include small-digit-5($smallDigitOffset);
}
@mixin small-digit-6($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{50 + $offset}):nth-child(-n + #{50 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{64 + $offset}):nth-child(-n + #{64 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{71 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-6 {
	@include small-digit-6(0);
}
.right-small-digit-6 {
	@include small-digit-6($smallDigitOffset);
}
@mixin small-digit-7($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{59 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{73 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-7 {
	@include small-digit-7(0);
}
.right-small-digit-7 {
	@include small-digit-7($smallDigitOffset);
}
@mixin small-digit-8($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{50 + $offset}):nth-child(-n + #{50 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{64 + $offset}):nth-child(-n + #{64 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{71 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-8 {
	@include small-digit-8(0);
}
.right-small-digit-8 {
	@include small-digit-8($smallDigitOffset);
}
@mixin small-digit-9($offset) {
	.dot:nth-child(n + #{43 + $offset}):nth-child(-n + #{45 + $offset}),
	.dot:nth-child(n + #{50 + $offset}):nth-child(-n + #{50 + $offset}),
	.dot:nth-child(n + #{52 + $offset}):nth-child(-n + #{52 + $offset}),
	.dot:nth-child(n + #{57 + $offset}):nth-child(-n + #{59 + $offset}),
	.dot:nth-child(n + #{66 + $offset}):nth-child(-n + #{66 + $offset}),
	.dot:nth-child(n + #{71 + $offset}):nth-child(-n + #{73 + $offset}) {
		@include active-item();
	}
}
.left-small-digit-9 {
	@include small-digit-9(0);
}
.right-small-digit-9 {
	@include small-digit-9($smallDigitOffset);
}

.name {
	color: #e3e3e3;
	text-transform: uppercase;
	transform: skew(-15deg);
}
